<div class="row">
    <div class="col-md-12 text-center"><h2>Recommendations</h2></div>
    <div class="col-md-12">
    {% for recommended_movie in movie.recommendations %}
        <div class="col-md-2" style="margin-top: 3px; height:250px;" id="{{ forloop.counter0 }}_{{ recommended_movie.name }}" >
            <a href="{% url "movies.views.movie.movie" recommended_movie.moviedb_id %}">
                {% with recommended_movie as movie %}
                    {% include '_gridview_movie.html' %}
                {% endwith %}
            </a>
        </div>
    {% endfor %}
    </div>
</div>