{% extends 'movies.html' %}

{% block content %}
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12" style="margin-top: 3px;">
            <form method="post">
                <div class="right-inner-addon">
                    <i class="glyphicon glyphicon-search" style="font-size: 2em;"></i>
                    <input type="search" id="search" name="search" class="form-control" value="{{ search_text }}" placeholder="Search"/>
                </div>
            </form>
        </div>
    </div>
    {{ block.super }}
{% endblock %}

{% block recommendations %}{% endblock %}