{% extends 'base.html' %}

{% block content %}
<div class="row">
    <table class="table" style="margin-top:20px;">
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Status</th>
            <th>new</th>
            <th>have</th>
            <th>total</th>
        </tr>
    </thead>
    {% for movie in movies %}
        <tr id="movie_{{ forloop.counter0 }}" data_movieid="{{ movie.id }}">
            <td class="name">{{ movie.name }}</td>
            <td class="status btn btn-lg btn-info glyphicon glyphicon-minus"></td>
            <td class="new">?</td>
            <td class="have">?</td>
            <td class="total">?</td>
        </tr>
    {% endfor %}
    </table>
</div>

<script type=text/javascript>

    function get_recommendations(id){
        movie = $('tr#movie_'+id);
        movie_id = movie.attr('data_movieid');
        movie_name = movie.filter('td.name').text;
        console.log(movie_id+" "+movie_name);

        $.post('{% url "movies.views.tools.get_recommendations" %}', {movie_id: movie_id}).done(
           function(data){
            var status = $('tr#movie_'+id+"> .status");
            status.removeClass("btn-info");
            if(data==""){
                status.addClass("btn-error glyphicon-remove");
                console.log(filename);
            } else {
                status.addClass("btn-success glyphicon-ok");
            }
            next_id = id+1;
            if($('tr#movie_'+next_id)){
              get_recommendations(id+1);
            }
          }
        );
    }
    get_recommendations(0);

</script>
{% endblock %}