{% extends 'base.html' %}

{% block content %}
<div class="row">
    <table class="table" style="margin-top:20px;">
    <thead>
        <tr>
            <th>Filename</th>
            <th>Movie Name</th>
            <th>Status</th>
        </tr>
    </thead>
    {% for filename in filenames %}
        <tr id="movie_{{ forloop.counter0 }}">
            <td class="filename">{{ filename }}</td>
            <td class="name">?</td>
            <td class="status btn btn-lg btn-info glyphicon glyphicon-minus"></td>
        </tr>
    {% endfor %}
    </table>
</div>

<script type=text/javascript>

    filenames = {{ filenames|safe }};
    function scan_file(id){
        filename = filenames[id];
        $.post('{% url "movies.views.tools.add_movie" %}', {filename: filename}).done(
           function(data){
            var status = $('tr#movie_'+id+"> .status");
            status.removeClass("btn-info");
            if(data==""){
                status.addClass("btn-error glyphicon-remove");
                console.log(filename);
            } else {
                status.addClass("btn-success glyphicon-ok");
            }
            next_id = id+1;
            if(filenames.length >= next_id){
              scan_file(id+1);
            }
          }
        );
    }
    scan_file(0);

</script>
{% endblock %}