{% extends 'base.html' %}

{% block content %}
<div class="row">
    <table class="table" style="margin-top:20px;">
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Status</th>
            <th>new</th>
            <th>have</th>
            <th>total</th>
        </tr>
    </thead>
    {% for movie in movies %}
        <tr id="movie_{{ forloop.counter0 }}" data_movieid="{{ movie.id }}">
            <td class="name">{{ movie.name }}</td>
            <td class="status btn btn-lg btn-info glyphicon glyphicon-minus"></td>
            <td class="new">?</td>
            <td class="have">?</td>
            <td class="total">?</td>
        </tr>
    {% endfor %}
    </table>
</div>

<script type=text/javascript>
    function get_single_recommendation(movie_id, rec_list, i){
	recommendation_id = rec_list[i];
        url = '{% url "movies.views.tools.get_single_recommendation" %}';
        data = {movie_id: movie_id, recommended_id: recommendation_id};
        function success(data){
            movie_row = $('tr[data_movieid='+movie_id+"]");
            if(data=="True"){
                have_count = parseInt(movie_row.find("td.have").text());
                movie_row.find("td.have").text(parseInt(have_count+1));
            } else {
                new_count = parseInt(movie_row.find("td.new").text());
                movie_row.find("td.new").text(parseInt(new_count+1));
            }
	
	    i++;
	    if(rec_list.length > i){
              	setTimeout(function(){
		    get_single_recommendation(movie_id, rec_list, i);
		}, 200);
	    }
        }

        $.ajax({
          type: "POST",
          url: url,
          data: data,
          success: success,
          async: false
	});
    }

    function get_recommendations(id){
        movie = $('tr#movie_'+id);
        movie_id = movie.attr('data_movieid');
        movie_name = movie.filter('td.name').text;
        url ='{% url "movies.views.tools.get_recommendation_list" %}'
	data = {movie_id: movie_id}
        function success(data){
                data = JSON.parse(data);
       		console.log(data);
	        $('tr#movie_'+id+"> td.total").text(data.length);
                $('tr#movie_'+id+"> td.new").text(0);
                $('tr#movie_'+id+"> td.have").text(0);
                get_single_recommendation(movie_id, data, 0);

		id++;
                if($('tr#movie_'+id)){
//                  get_recommendations(id);
              	  setTimeout(function(){
		    get_recommendations(id);
		  }, 5000);
                }
        }

	$.ajax({
		type: "POST",
      		url: url,
      		data: data,
          	success: success,
          	async: false
        });
    }
    get_recommendations(0);

</script>
{% endblock %}
